{% extends "basic_app\base.html" %}


{% block body_block %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgot Password</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset Password</button>
			<p>or</p>
			<a href="{% url 'basic_app:user_login' %}">Login</a>

        </form>
  	</div> 

{% endblock %}